<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Auto_Sync.Properties.Settings>
            <setting name="SubPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MainPassword" serializeAs="String">
                <value>123</value>
            </setting>
        </Auto_Sync.Properties.Settings>
    </userSettings>
</configuration>